{% extends 'base.html' %}

{% block title %}
    {% if student %}Editar Estudante{% else %}Novo Estudante{% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if student %}Editar Estudante{% else %}Cadastrar Estudante{% endif %}
    </h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="actions">
            <button class="btn btn-primary" type="submit">
                {% if student %}Atualizar{% else %}Salvar{% endif %}
            </button>
            <a class="btn btn-link" href="{% url 'school:student_list' %}">Cancelar</a>
        </div>
    </form>
{% endblock %}